- render :partial => 'filters'

= content do
  %table(cellpadding=0 cellspacing=0)
    %thead
      %tr
        %th Name
        %th Total
        %th Updated At
        %th Bill

    %tbody
      - @orders.each do |order|
        %tr
          %td
            = link_to(order.name, path(order), :class => 'title')
            %span.reference.numeric= order.reference
            %span.summary= order.items_summary
          %td
            = order.formatted_total
          %td
            %span.time= order.updated_at
            by #{order.updater_name}
          %td
            = link_to('Bill', path(:bill, :order_process, :id => order), :class => 'button')

= footer do
  = paginate(@orders, :theme => 'admin')
