- breadcrumb('Orders', :orders)
- breadcrumb("#{@order.name} - #{@order.reference}", :order, :id => @order.id)
- breadcrumb("Confirm Billing")

= record_name("#{@order.name} - #{@order.reference}", 'shopping-cart')

= resource_form(@order, :url => path(:bill, @order)) do |f|
  = content do
    = column(4, :class => 'billing') do
      %h3 Billing Details
      %p.card-details
        %span.type{:class => "card-type-#{@order.payment.card_type}"}= @order.payment.card_type
        %span.number= @order.payment.number
        - unless @order.payment.name.blank?
          %span.name= @order.payment.name
        %span.expiry Expiry: #{@order.payment.expiry}

    = column(8, :class => 'totals') do
      %h3 Payment Due
      %ul
        %li
          %span.key Product Total
          %span.value.numeric= @order.formatted_product_total
        %li
          %span.key Shipping
          - if @order.free_shipping?
            %span.value FREE
          - else
            %span.value.numeric= @order.formatted_shipping_total
        %li
          %span.key Total
          %span.value.numeric= @order.formatted_total

  = footer do
    = link_to('Cancel', path(:order, :id => @order), :class => 'button cancel')

    - if @order.run?(:bill)
      - if @order.payment_errors?
        = save_button('Retry Billing')
      - else
        = save_button('Bill')
