- render :partial => 'filters'

= form_tag(path(:ship_all, :order_processes), :method => :put) do
  = content do
    %table(cellpadding=0 cellspacing=0)
      %thead
        %tr
          %th.select
            = check_box_tag('all')
            %span Select
          %th Name
          %th Ship To
          %th Total
          %th Updated At

      %tbody
        - @orders.each do |order|
          %tr
            %td.select
              = check_box_tag('ids[]', order.id)
            %td
              = link_to(order.name, path(order), :class => 'title')
              %span.reference.numeric= order.reference
            %td
              %p
                %strong= order.ship_to
                %br/
                = order.shipping_street
                %br/
                = order.shipping_city
                %br/
                #{order.shipping_state} #{order.shipping_postcode}
            %td
              %span.numeric= order.formatted_total
            %td
              %span.time= order.updated_at
              by #{order.updater_name}

  = footer do
    = paginate(@orders, :theme => 'admin')
    %button.save Ship
