= resource_form(@product) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name)
      = f.input(:published, :col => 'first-inline')
      = f.input(:status, :collection => @product.statuses, :col => 'inline', :as => 'radio_buttons')

    = f.fieldset('Product', :class => 'tab') do
      = f.input(:description, :as => 'text')
      = f.input(:product_category_id, :collection => @categories, :label => 'Category')
      = f.input(:product_range_id, :collection => @ranges, :label => 'Range')

      = asset_picker(f)

      - f.metadata do |attrs|
        - attrs.each do |name, opts|
          = f.metadata_input(name, opts)

    = f.fieldset('SKUs', :class => 'tab association', :id => 'product-skus') do
      = f.fields_for(:skus) do |sf|
        %fieldset(class='associated template-#{sf.object.template}')
          = sf.input(:_destroy, :as => 'boolean')
          = sf.input(:position, :class => 'small')

          = sf.input(:name)
          = sf.input(:published, :col => 'first-inline')
          = sf.input(:status, :col => 'inline', :collection => sf.object.statuses, :as => 'radio_buttons')

          %div.attributes
            = sf.input(:price, :col => 'first-inline', :class => 'small')
            = sf.input(:volume, :col => 'inline', :class => 'small', :label => 'Volume (ml)')
            = sf.input(:weight, :col => 'inline', :class => 'small', :label => 'Weight (g)')
            = sf.input(:size, :col => 'inline', :class => 'small')

            - sf.metadata do |attrs|
              - attrs.each do |name, opts|
                = sf.metadata_input(name, opts)

          = sf.hidden_field(:template)

  = footer do
    = save_button
    = cancel_button(@product)
