= resource_form(@product) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name)
      = f.input(:published)

    = f.fieldset('Product') do
      = f.input(:description, :as => 'text')
      = f.input(:product_category_id, :collection => @categories, :label => 'Category')
      = f.input(:product_range_id, :collection => @ranges, :label => 'Range')

      - if @product.has_metadata?
        - @product.metadata_attributes.each do |name, opts|
          = f.metadata_input(name, opts)

  = footer do
    %button Save
