= resource_form(@product) do |f|
  = record_name(@product.name, 'gift', :when_blank => 'New Product')

  = form_errors(@product)

  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name)
      = f.input(:published, :col => 'first-inline')
      = f.input(:status, :collection => @product.statuses, :col => 'inline', :as => 'radio_buttons')

    = f.fieldset('Product') do
      = f.input(:description, :as => 'text')
      = f.input(:product_category_id, :collection => @categories, :label => 'Category', :as => 'tree_select', :include_blank => false)
      - unless @manufacturers.blank?
        = f.input(:manufacturer_id, :collection => @manufacturers, :include_blank => true, :label => 'Manufacturers')
      - unless @ranges.blank?
        = f.input(:product_range_id, :collection => @ranges, :include_blank => true, :label => 'Range')

      = f.input(:asset_ids, :collection => @assets, :as => 'multi_asset', :label => 'Assets')

      - f.metadata do |attrs|
        - if attrs
          = f.fieldset('Attributes') do
            - attrs.each do |name|
              = f.metadata_input(name)

  = footer do
    = save_button
    = cancel_button(@product)
