= resource_form(@product) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name)
      = f.input(:published, :col => 'first-inline')
      = f.input(:status, :collection => @product.statuses, :col => 'inline', :as => 'radio_buttons')

    = f.fieldset('Product', :class => 'tab') do
      = f.input(:description, :as => 'text')
      = f.input(:product_category_id, :collection => @categories, :label => 'Category')
      = f.input(:product_range_id, :collection => @ranges, :label => 'Range')

      %div.field.multi-images
        %label Images
        %ul
          - @product.assets.each do |asset|
            %li{:id => "image-#{asset.id}"}
              = image_tag(asset.preview.url(:thumb_small))
              = link_to('Remove')
          %li
            = link_to('Add Image', '', :rel => 'add')

      - f.metadata do |attrs|
        - attrs.each do |name, opts|
          = f.metadata_input(name, opts)

    = f.fieldset('SKUs', :class => 'tab association', :id => 'product-skus') do
      = f.fields_for(:skus) do |sf|
        %fieldset(class='associated template-#{sf.object.template}')
          = sf.input(:_destroy, :as => 'boolean')
          = sf.input(:position, :class => 'small')

          = sf.input(:published, :col => 'first-inline')
          = sf.input(:price, :col => 'inline', :class => 'small')
          = sf.input(:stock_level, :col => 'inline', :class => 'small')

          = sf.input(:name)

          = sf.input(:volume, :col => 'first-inline', :class => 'small', :label => 'Volume (ml)')
          = sf.input(:weight, :col => 'inline', :class => 'small', :label => 'Weight (g)')
          = sf.input(:size, :col => 'inline', :class => 'small')

          - sf.metadata do |attrs|
            - attrs.each do |name, opts|
              = sf.metadata_input(name, opts)
          = sf.hidden_field(:template)

    = f.fieldset('Variants', :class => 'tab') do
      = f.input(:description, :as => 'text')

    = f.fieldset('Stock', :class => 'tab') do
      = f.input(:description, :as => 'text')

  = footer do
    = save_button
    = cancel_button(@product)
