%table(cellpadding=0 cellspacing=0 class='sortable')
  %thead
    %tr
      %th.select= check_box_tag('table_select_all', 1, nil, :class => 'toggle')
      %th.boolean Published
      %th.boolean For Sale
      %th Product
      %th.indicator Stock Level
      %th.meta Updated At
  %tbody
    - @products.each do |product|
      %tr
        %td.select
          = check_box_tag('ids[]', product.id, selected?(product.id), :class => 'toggle')
        %td.boolean
          %span(class="boolean #{product.published?}")
            %span= friendly_bool(product.published?)
        %td.boolean
          %span(class="boolean #{product.for_sale?}")
            %span= friendly_bool(product.for_sale?)
        %td
          = link_to(product.name, path(product), :class => 'title')
          %span.summary= product.skus_summary
        %td.indicator
          %span(class="indicator #{product.stock_level_status}")
            = product.friendly_stock_level_status
        %td.meta
          %span.time= product.updated_at
          by #{product.updater_name}
