- breadcrumb('Products')

- filter_nav(:products, 'All')
- filter_nav(:products, 'Published', 'published')
- filter_nav(:products, 'Unpublished', 'unpublished')
- filter_nav(:products, 'For Sale', 'for_sale')
- filter_nav(:products, 'Not for sale', 'not_for_sale')

- sort_nav(:products, 'Name')
- sort_nav(:products, 'Position', 'position')
- sort_nav(:products, 'Created', 'created_at')
- sort_nav(:products, 'Updated', 'updated_at')

= content do

  = render :partial => 'table'

= footer do
  = new_button('Product', :product)
  = paginate(@products, :theme => 'admin')
