= content do
  %table(cellpadding=0 cellspacing=0)
    %thead
      %tr
        %th Published
        %th For Sale
        %th Product
        %th Stock Level
        %th Updated At
    %tbody
      - @products.each do |product|
        %tr
          %td
            %span(class="boolean #{product.published?}")= friendly_bool(product.published?)
          %td
            %span(class="boolean #{product.for_sale?}")= friendly_bool(product.for_sale?)
          %td
            = link_to(product.name, path(product), :class => 'title')
          %td
            %span.count.indicator= product.stock_level_status
          %td
            %span.time= product.updated_at


