- sub_header('Product', @product.name)

= content do
  %ul#summary
    %li
      - if @product.published?
        %span.value.indicator.ok Published
      - else
        %span.value.indicator Unpublished

    %li
      - if @product.for_sale?
        %span.value.indicator.ok For Sale
      - elsif @product.discontinued?
        %span.value.indicator Discontinued
      - else
        %span.value.indicator Not for Sale

    %li
      %span(class="value indicator #{@product.stock_warning? ? 'warning' : 'ok'}")
        Stock Level:
        = @product.stock_level_status.capitalize

  %h3 Product Details
  - unless @product.images.empty?
    = image_tag(@product.images.first.preview.url(:thumb))

  = simple_format(@product.description)

  %h3 SKUs

  %table
    %thead
      %tr
        %th Published
        %th For Sale
        %th SKU
        %th Price
        %th Stock Level

    %tbody
      - @product.skus.each do |sku|
        %tr
          %td
            = sku.published?
          %td
            = sku.for_sale?
          %td
            %span.title= sku.short_desc
          %td
            %span.numeric= sku.formatted_price
          %td
            %span.numeric= sku.stock_level
            = link_to('Adjust', '', :class => 'button')

  %h3 Stock Logs

  %table
    %thead
      %tr
        %th SKU
        %th Action
        %th Movement
        %th Level
        %th On

    %tbody
      - @product.stock_logs.summary.each do |log|
        %tr
          %td
            %span.title= log.short_desc
          %td
            = log.action.humanize
          %td
            %span.numeric= log.movement
            %span(class="dir #{log.direction}")= log.direction
          %td
            %span.numeric= log.after
          %td
            %span.time= log.created_at
            by #{log.creator_name}

  %h3 Price Adjustments

  %table
    %thead
      %tr
        %th SKU
        %th Movement
        %th Price
        %th On

    %tbody
      - @product.price_logs.summary.each do |log|
        %tr
          %td
            %span.title= log.short_desc
          %td
            %span.numeric= log.movement
            %span(class="dir #{log.direction}")= log.direction
          %td
            %span.numeric= log.after
          %td
            %span.time= log.created_at
            by #{log.creator_name}

= footer do
  = edit_button(@product)
  - if @product.destroyable?
    = delete_button(@product)
