- breadcrumb('Adjust Stock Levels')

- filter_nav(:stock_levels, 'For Sale')
- filter_nav(:stock_levels, 'Not for Sale', 'not_for_sale')
- filter_nav(:stock_levels, 'Discontinued', 'discontinued')
- filter_nav(:stock_levels, 'All', 'all')

- sort_nav(:stock_levels, 'Name')
- sort_nav(:stock_levels, 'Stock Level', 'stock_level')
- sort_nav(:stock_levels, 'Updated', 'updated_at')

= form_tag(path(:stock_levels), :method => :put) do
  = content do
    %table.fixed-header
      %thead
        %tr
          %th SKU
          %th Status
          %th Stock Level
          %th Updated At

      %tbody
        - @skus.each do |sku|
          %tr(class="alert #{sku.stock_warning?}" id="sku-#{sku.id}")
            %td
              = link_to(sku.long_desc, path(:product, :id => sku.product_id), :class => 'title')
            %td.indicator
              %span.indicator= sku.normalized_status.humanize
            %td
              = text_field_tag("stock_levels[#{sku.id}]", sku.stock_level, :class => 'text small')
            %td.meta
              %span.time= sku.updated_at
              by #{sku.updater_name}

  = footer do
    = save_button
