= resource_form([:admin, @product, @sku]) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:published, :col => 'first-inline')
      = f.input(:status, :col => 'inline', :collection => f.object.statuses, :as => 'radio_buttons')

      = f.input(:name)

      = f.input(:asset_ids, :collection => @assets, :as => 'multi_asset', :label => 'Images and Documents')

    = f.fieldset('Pricing', :class => 'pricing') do
      = f.input(:price, :class => 'small', :col => 'first-inline')
      = f.input(:batch_size, :class => 'small', :col => 'inline')
      = f.input(:batch_price, :class => 'small', :col => 'inline')
      = f.input(:unit_count, :class => 'small', :col => 'inline')

    = f.fieldset('Purchase Limit') do
      = f.input(:purchase_limiting, :label => 'Limiting', :col => 'first-inline')
      = f.input(:purchase_limit, :label => 'Limit', :class => 'small', :col => 'inline')

    = f.fieldset('Size & Weight', :class => 'size-and-weight') do
      = f.input(:volume, :class => 'small', :label => 'Volume (ml)', :col => 'first-inline')
      = f.input(:weight, :class => 'small', :label => 'Weight (g)', :col => 'inline')
      = f.input(:size, :class => 'small', :col => 'inline')


    - f.metadata do |attrs|
      = f.fieldset('Attributes', :class => 'attributes') do
        - attrs.each do |name, opts|
          = f.metadata_input(name, opts)

    - if integrate_blog?
      = f.fieldset('Blog Entries') do
        = f.association(:blog_entries, :collection => @blog_entries, :as => 'multi_select', :label => 'Entries')

    = f.hidden_field(:product_id, :value => @product.id)

  = footer do
    = cancel_button(@product)
    = save_button
