= resource_form([:admin, @product, @sku]) do |f|
  = record_name(@sku.name, 'gift', :when_blank => 'New SKU')

  = form_errors(@sku)

  = content do
    = f.fieldset('Details', :class => 'form-tab', :id => 'sku-details') do
      = f.input(:published, :col => 'first-inline')
      = f.input(:status, :col => 'inline', :collection => f.object.statuses, :as => 'radio_buttons')
      = f.input(:name)
      = f.input(:stock_level)

      = f.fieldset do
        = f.input(:purchase_limiting, :label => 'Limit purchases', :col => 'first-inline')
        = f.input(:purchase_limit, :label => 'to', :class => 'small', :col => 'inline')

      = f.fieldset do
        = f.input(:volume, :class => 'small', :label => 'Volume (ml)', :col => 'first-inline')
        = f.input(:weight, :class => 'small', :label => 'Weight (g)', :col => 'inline')
        = f.input(:size, :class => 'small', :col => 'inline')

    = f.fieldset('Images & Docs', :class => 'form-tab', :id => 'sku-assets') do
      = f.input(:asset_ids, :collection => @assets, :as => 'multi_asset', :label => 'Images and Documents')

    = f.fieldset('Pricing', :class => 'islay-shop-sku-pricing form-tab', :id => 'sku-pricing') do
      %table
        %thead
          %tr
            %th.current Current
            %th.dates Dates
            %th.mode Mode
            %th.volume Volume
            %th.price Price
            %th.expire Expire

        %tbody
          = f.fields_for(:price_points, @sku.price_points, :include_id => false) do |p|
            - if p.object.new_record?
              %tr.new
                %td.current 
                  &nbsp;
                %td.dates 
                  &nbsp;
                %td.mode
                  %div.pricing-mode
                    %label
                      Boxed
                      = p.radio_button(:mode, 'boxed')
                    %label
                      Bracketed
                      = p.radio_button(:mode, 'bracketed')
                %td.volume
                  = p.input(:volume, :label => false)
                %td.price
                  = p.input(:display_price, :label => false, :autocomplete => 'off')
                %td.expire
                  &nbsp;

            - elsif p.object.current?
              %tr.current
                %td.current
                  %span.boolean.true
                    %span Yes
                %td.dates
                  %span.indicator.time= p.object.valid_from
                  = p.hidden_field(:id)
                %td.mode
                  %span.indicator.pricing-mode= p.object.mode.capitalize
                %td.volume
                  %span.indicator.numeric= p.object.volume
                %td.price
                  = p.input(:display_price, :label => false, :autocomplete => 'off')
                %td.expire
                  - if p.object.single?
                    &nbsp;
                  - else
                    %label 
                      Expire
                      = p.check_box(:expire)

            - else
              %tr.historical
                %td.current
                  %span.boolean.false
                    %span No
                %td.dates
                  %span.indicator.time= p.object.valid_from
                  %span.to to
                  %span.indicator.time= p.object.valid_to
                %td.mode
                  %span.indicator.pricing-mode= p.object.mode.capitalize
                %td.volume
                  %span.indicator.numeric= p.object.volume
                %td.price
                  %span.indicator.currency= p.object.price
                %td.expire
                  &nbsp;

          = f.fields_for(:new_price_point, @sku.new_price_point, :include_id => false) do |p|
            %tr.template
              %td.current 
                &nbsp;
              %td.dates 
                &nbsp;
              %td.mode
                %div.pricing-mode
                  %label
                    Boxed
                    = p.radio_button(:mode, 'boxed')
                  %label
                    Bracketed
                    = p.radio_button(:mode, 'bracketed')
              %td.volume
                = p.text_field(:volume)
              %td.price
                = p.text_field(:display_price, :autocomplete => 'off')
              %td.expire 
                &nbsp;

    - f.metadata do |attrs|
      = f.fieldset('Extra', :class => 'attributes form-tab', :id => 'sku-extra') do
        - attrs.each do |name, opts|
          = f.metadata_input(name, opts)

    - if integrate_blog?
      = f.fieldset('Blog Entries', :class => 'form-tab', :id => 'sku-blog') do
        = f.association(:blog_entries, :collection => @blog_entries, :as => 'multi_select', :label => 'Entries')

    = f.hidden_field(:product_id, :value => @product.id)

  = footer do
    = cancel_button(@product)
    = save_button
