= resource_form(@offer) do |f|
  = record_name(@offer.name, 'table', :when_blank => 'New Offer')
  = form_errors(@offer)
  = content do
    = f.fieldset('Offer details', :class => 'primary form-tab', :id => 'offer-details') do
      = f.input(:name, :col => 6)
      = f.input(:description, :as => 'text')

      = f.input(:open_at, :as => :date_picker, :label => 'Open date')
      = f.input(:close_at, :as => :date_picker, :label => 'Close date')
      = f.input(:ship_at, :as => :date_picker, :label => 'Ship date')

    = f.fieldset('Items in this offer', :class => 'islay-shop-sku-pricing form-tab', :id => 'offer-items') do
      %table.islay-offer-items.editable-grid.folded
        %thead
          %tr
            %th Quantity
            %th Product & Sku
        %tbody
          = f.fields_for(:offer_items) do |oif|
            %tr
              %td.quantity
                = oif.input(:quantity)
              %td= oif.input(:sku_id, :collection => @skus, :include_blank => true, :label => 'Product SKU')

  = footer do
    = save_button
