= resource_form(@offer) do |f|
  = record_name(@offer.name, 'table', :when_blank => 'New Offer')
  = form_errors(@offer)
  = content do
    = f.fieldset('Offer details', :class => 'primary form-tab', :id => 'offer-details') do
      = f.input(:name, :col => 6)
      = f.input(:description, :as => 'text')

      = f.input(:display_price, :label => 'Price', :autocomplete => 'off')

      = f.input(:open_at, :as => :date_picker, :label => 'Open date')
      = f.input(:close_at, :as => :date_picker, :label => 'Close date')
      = f.input(:ship_at, :as => :date_picker, :label => 'Ship date')

    = f.fieldset('Items in this offer', :class => 'form-tab', :id => 'offer-items') do

      %p Add the items you want to include in this offer and their quantities below. To remove an item from the offer, just set its quantity to 0.

      %table.islay-offer-items.editable-grid.folded
        %thead
          %tr
            %th Quantity
            %th Product & Sku
            %th Base price
        %tbody
          = f.fields_for(:offer_items) do |oif|
            %tr
              %td.quantity
                = oif.input(:quantity)
              %td= oif.input(:sku_id, :collection => @skus, :include_blank => 'Select SKU', :label => 'Product SKU')
              %td
                - if oif.object.sku_id
                  = oif.object.sku.single_price

    = f.fieldset('Orders', :class => 'form-tab', :id => 'offer-orders') do
      %h2 Candidates
      %table.islay-offer-candidates.sortable
        %thead
          %tr
            %th.select= check_box_tag('table_select_all', 1, nil, :class => 'toggle')
            %th Name
            %th Email
        %tbody
          - if f.object.candidates.empty?
            %tr
              %td{colspan: 3} No members qualify for the offer.
          - else
            - f.object.candidates.each do |candidate|
              %td.select= check_box_tag('ids[]', candidate.id, nil, :class => 'toggle')
              %td= candidate.name
              %td= candidate.email


      %h2 Orders
      - if f.object.orders.empty?
        %p No orders have been created yet.
      - else
        %p The following orders have already been created for this offer.
        - f.object.orders.each do |order|
          = order.inspect

  = footer do
    = save_button
