%div.islay-shop-basket
  %h3 Items
  - if parent_controller.flash[:order_item_added]
    %p.flash-item-added
      #{parent_controller.flash[:order_item_added]} added to your order

  - if parent_controller.flash[:order_item_removed]
    %p.flash-item-removed
      #{parent_controller.flash[:order_item_removed]} removed from your order

  - unless order.empty?
    = form_tag(public_order_basket_update_url) do
      %ul
        - order.sku_items.each do |item|
          %li
            = item.description
            = text_field_tag("items[#{item.sku_id}]", item.quantity)

      %button Update

    %ul.totals
      %li
        %span.key Sub-total
        %span.value= order.original_product_total
      %li
        %span.key Shipping
        %span.value= order.original_shipping_total
      - if order.discount.positive?
        %li
          %span.key Discount
          %span.value #{order.discount}
      %li
        %span.key Total
        %span.value= order.total

    - if order.pending_promotions?
      %div.promotions
        %p.notice These promotions have been applied to your order.
        %ul.list
          - if order.new_promotions?
            - order.new_promotions.each do |p|
              %li.summary.new= p.summary_html
          - if order.existing_promotions?
            - order.existing_promotions.each do |p|
              %li.summary.new= p.summary_html

    %p= link_to('Checkout', public_order_checkout_path)

  - else
    %p There are no items in you basket
