%div.basket
  %h3 Items
  - if @order.items[0]
    = form_for(@order, :url => public_order_basket_update_path) do |f|
      %ul
        = f.fields_for(:items) do |i|
          %li
            = i.label(:quantity, i.object.sku_id)
            = i.text_field(:quantity)
            = i.hidden_field(:sku_id)
            - unless i.object.errors.empty?
              - i.object.errors.each do |attr, msgs|
                = i.label(:quantity, msgs, :class => 'error')

      %button Update

    %p= link_to('Checkout', public_order_checkout_path)

  - else
    %p Empty
