%div.basket
  %h3 Items
  - if @order.regular_items[0]
    = form_for(@order, :url => public_order_basket_update_path) do |f|
      = f.fields_for(:regular_items) do |i|
        = i.label(:quantity, i.object.sku_id)
        = i.text_field(:quantity)
        = i.hidden_field(:sku_id)

      %button Update

  - else
    %p Empty

  - if @order.stock_alerts?
    %h3 Unfortunately, these items are now out of stock
    = form_for(@order, :url => public_order_basket_delete_alerts_path, :method => :delete) do |f|
      %ul
        - @order.stock_alerts.each do |sku|
          %li= link_to(sku.id, public_product_path(sku.product))

      %button Clear

  - if @order.bonus_items[0]
    %h3 Bonus Items
    %ul
      - @order.bonus_items.each do |item|
        %li #{item.sku_id} (#{item.quantity})
