- breadcrumb('Ranges', :product_ranges)
- breadcrumb(@product_range.name)

= content do
  = record_name(@product_range.name, 'th')

= footer do
  = edit_button(@product_range)
  = delete_button(@product_range)
