- breadcrumb('Reports', :reports)
- breadcrumb('Shop', :shop_reports)

= record_name(params[:month] ? "Sales reports for #{Date::MONTHNAMES[params[:month].to_i]} #{params[:year]}" : 'Sales reports', 'bar-chart')

= content(:class => 'inset inset-vertical') do

  = column(8) do
  
    .report-date
      .report-date-el-controls
        %a.report-date-el-previous-month{href: report_date_link(:previous_month, @report_range), title: 'Previous month'}
        %span.report-date-el-current-month= Date::MONTHNAMES[@report_range[:month]]
        %span.report-date-el-current-year= @report_range[:year]
        %a.report-date-el-next-month{href: report_date_link(:next_month, @report_range), title: 'Next month'}


    %div#order-graphs.report-cell
      %h3 Daily sales

      %table.series-graph
        %thead
          %tr
            %th Day
            %th Order Value
            %th Order Volume
            %th SKU Volume

        %tbody
          - @series.each do |entry|
            %tr
              %th= entry['day']
              %td= entry['value']
              %td= entry['volume']
              %td= entry['sku_volume']

    %div#top-ten.report-cell
      %h3 SKU Top Ten

      %table#skus-by-revenue
        %caption Revenue

        %thead
          %tr
            %th.rank Rank
            %th SKU
            %th Revenue
            %th.movement Movement

        %tbody
          - @top_ten[:revenue].each do |entry|
            %tr
              %td.rank= entry['position']
              %td= link_to(entry.long_desc, path(:sku_report, :product_id => entry['product_id'], :id => entry['sku_id']))
              %td= format_money(entry['revenue'])
              %td.movement
                %span(class="move-#{entry['dir']}")= entry['dir'].humanize
                %span.amount= entry['shift']

      %table#skus-by-volume
        %caption Volume

        %thead
          %tr
            %th.rank Rank
            %th SKU
            %th Volume
            %th.movement Movement

        %tbody
          - @top_ten[:volume].each do |entry|
            %tr
              %td.rank= entry['position']
              %td= link_to(entry.long_desc, path(:sku_report, :product_id => entry['product_id'], :id => entry['sku_id']))
              %td= entry['volume']
              %td.movement
                %span(class="move-#{entry['dir']}")= entry['dir'].humanize
                %span.amount= entry['shift']

  = column(4) do
    %div#detailed-nav.report-cell
      %h3 Detailed Reports
      %ul
        %li= link_to('Grand Totals', path(:order_totals))
        %li= link_to('Orders', path(:order_reports))
        %li= link_to('Products', path(:product_reports))

    %div.report-cell.total
      %h3 Order Volume
      = @totals.total('volume', false)
      = @totals.movement('volume', false)
      = @totals.average('volume', false)
      = @totals.best('volume', false)

    %div.report-cell.total
      %h3 Revenue
      = @totals.total('revenue')
      = @totals.movement('revenue')
      = @totals.average('revenue')
      = @totals.best('revenue')

    %div.report-cell.total
      %h3 Average Order Value
      = @totals.total('average_value')
      = @totals.movement('average_value')
      = @totals.average('average_value')
      = @totals.best('average_value')
