- render :partial => 'islay/admin/reports/nav'
- sub_header('Shop Overview', path(:shop_reports))
- sub_header('Products')

= content(:class => 'inset') do
  = column(8) do
    %div.report-cell
      %h3 Products

  = column(4) do
    %div.report-cell.total
      %h3 Total Volume
      %p.total= @total_volume
      %p.since Since Derp

  %div#product-listing.report-cell
    %h3 Products

    %table
      %caption Products

      %thead
        %tr
          %th Products
          %th.sorted Revenue
          %th Volume

      %tbody
        - @products.each do |product|
          %tr
            %td= link_to(product.name)
            %td= format_money(product.revenue)
            %td= product.volume

    %table
      %caption SKUs

      %thead
        %tr
          %th SKU
          %th.sorted Revenue
          %th Volume

      %tbody
        - @skus.each do |sku|
          %tr
            %td= link_to(sku.long_desc)
            %td= format_money(sku.revenue)
            %td= sku.volume

    %table
      %caption Categories

      %thead
        %tr
          %th Category
          %th.sorted Revenue
          %th Volume

      %tbody
        - @categories.each do |category|
          %tr
            %td= link_to(category.name)
            %td --
            %td --
