- render :partial => 'islay/admin/reports/nav'
- sub_header('Shop', path(:shop_reports))
- sub_header('Products', path(:product_reports))
- sub_header(@product.name, path(:product_report, :id => @product))
- sub_header(@sku.short_desc)

= content(:class => 'inset') do
  %div.report-cell
    %h3 Sku Over Time

    %table.series-graph
      %thead
        %tr
          %th Day
          %th Value
          %th Volume

      %tbody
        - @series.each do |entry|
          %tr
            %th= entry['day']
            %td= entry['value']
            %td= entry['volume']

  %div.count-8.report-cell
    %h3 Orders

    %table#orders-summary
      %thead
        %tr
          %th Reference
          %th Qty.
          %th Value
          %th.sorted Created At

      %tbody
        - @orders.each do |entry|
          %tr
            %td= link_to("#{entry['reference']} - #{entry['name']}", path(:order, :id => entry['id']))
            %td= entry['quantity']
            %td= format_money(entry['total'])
            %td= format_day(entry['created_at'])

  = column(4) do
    %div.report-cell
      %h3 Totals

      %h4 Revenue
      %p.value= format_money(@totals['total_value'])

      %h4 Volume
      %p.value= @totals['total_volume']

    %div#bests.report-cell
      %h3 Best

      %div.day
        %h4 Day

        %h5 Revenue
        %p.value
          = format_money(@totals['best_day_revenue'])
          %em= format_day(@totals['best_day_for_revenue'])

        %h5 Volume
        %p.value
          = @totals['best_day_volume']
          %em= format_day(@totals['best_day_for_volume'])

      %div.month
        %h4 Month

        %h5 Revenue
        %p.value
          = format_money(@totals['best_month_revenue'])
          %em= format_month(@totals['best_month_for_revenue'])

        %h5 Volume
        %p.value
          = @totals['best_month_volume']
          %em= format_month(@totals['best_month_for_volume'])
