- render :partial => 'islay/admin/reports/nav'
- sub_header('Shop', path(:shop_reports))
- sub_header('Products', path(:product_reports))
- sub_header(@product.name, path(:product_report, :id => @product))
- sub_header(@sku.short_desc)

= content(:class => 'inset') do
  %div.report-cell
    %h3 Sku Over Time

    %table.series-graph
      %thead
        %tr
          %th Day
          %th Value
          %th Volume

      %tbody
        - @series.each do |entry|
          %tr
            %th= entry['day']
            %td= entry['value']
            %td= entry['volume']

  %div.count-4.report-cell
    %h3 Totals

    = format_money(@totals['total_value'])
    = @totals['total_volume']

  %div.count-4.report-cell
    %h3 Best Day

    %p.revenue
      %strong= format_money(@totals['best_day_revenue'])
      %span= @totals['best_day_for_revenue']

    %p.volume
      %strong= @totals['best_day_volume']
      %span= @totals['best_day_for_volume']

  %div.count-4.last.report-cell
    %h3 Best Month

    %p.revenue
      %strong= format_money(@totals['best_month_revenue'])
      %span= format_month(@totals['best_month_for_revenue'])

    %p.volume
      %strong= @totals['best_month_volume']
      %span= format_month(@totals['best_month_for_volume'])
