%tr(class="enable-#{published} level-#{level}")
  %td.select
    = check_box_tag('ids[]', category.id, selected?(category.id))
  %td.boolean
    %span(class="boolean #{category.published?}")
      %span= friendly_bool(category.published?)
  %td
    = link_to(category.name, path(category), :class => 'title')
  %td
    %span.count.indicator= category.products.count
  %td
    %span.time= category.created_at

- unless category.children.empty?
  = render :partial => 'category', :collection => category.children, :locals => {:level => level + 1, :published => category.published?}
