= resource_form(@product_category) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name)
      = f.input(:published, :col => 'first-inline')
      = f.input(:status, :col => 'inline', :collection => @product_category.statuses, :label => 'Status', :as => 'radio_buttons')

    = f.fieldset do
      = f.input(:product_category_id, :collection => @product_categories, :label => 'Parent', :include_blank => true, :as => 'tree_select')
      = f.input(:description, :as => 'text')

  = footer do
    %button.save Save
