- breadcrumb("Catalogue", :product_categories)

- filter_nav(:product_categories, 'All')
- filter_nav(:product_categories, 'Published', 'published')
- filter_nav(:product_categories, 'Unpublished', 'unpublished')

= form_tag(path(:position, :product_categories), :method => :put) do
  = content do
    = render :partial => 'table'

  = footer do
    .default-controls
      = new_button('Category', :product_category)

    .selection-controls
      = position_buttons
