- sub_header("Category", @product_category.name)

- filter_nav(:product_category, 'All')
- filter_nav(:product_category, 'Published', 'published')
- filter_nav(:product_category, 'Unpublished', 'unpublished')

- sort_nav(:product_category, 'Name')
- sort_nav(:product_category, 'Created', 'created_at')
- sort_nav(:product_category, 'Updated', 'updated_at')

= content do
  = render :partial => 'islay_shop/admin/products/table'

= footer do
  = edit_button(@product_category)
  = delete_button(@product_category)
  = new_button('Product', :product, :to => @product_category)
