- sub_header('Categories')
- ancestor_category_links(@product_category)
- sub_header(@product_category.name)

- if @product_category.empty?
  = content do
    %p#placeholder
      You can assign either a
      = link_to('product', path(:new, :product, :to => @product_category))
      or a
      = link_to('category', path(:new, :product_category, :to => @product_category))
      here

- elsif @product_category.products?
  - filter_nav(:product_category, 'All')
  - filter_nav(:product_category, 'Published', 'published')
  - filter_nav(:product_category, 'Unpublished', 'unpublished')

  - sort_nav(:product_category, 'Name')
  - sort_nav(:product_category, 'Created', 'created_at')
  - sort_nav(:product_category, 'Updated', 'updated_at')

  = form_tag(path(:position, :products), :method => :put) do
    = content do
      = render :partial => 'islay_shop/admin/products/table'

    = footer do
      .default-controls
        = new_button('Product', :product, :to => @product_category)
        = edit_button(@product_category)
        = delete_button(@product_category)

      .selection-controls
        = position_buttons

- else
  = form_tag(path(:position, :product_categories), :method => :put) do
    = content do
      = render :partial => 'table'

    = footer do
      .default-controls
        = new_button('Category', :product_category)

      .selection-controls
        = position_buttons
