- sub_header('Categories')
- ancestor_category_links(@product_category)
- sub_header(@product_category.name)

- filter_nav(:product_category, 'All')
- filter_nav(:product_category, 'Published', 'published')
- filter_nav(:product_category, 'Unpublished', 'unpublished')

- sort_nav(:product_category, 'Name')
- sort_nav(:product_category, 'Created', 'created_at')
- sort_nav(:product_category, 'Updated', 'updated_at')

= form_tag(path(:position, :products), :method => :put) do
  = content do
    = render :partial => 'islay_shop/admin/products/table'

  = footer do
    = new_button('Product', :product, :to => @product_category)
    = edit_button(@product_category)
    = delete_button(@product_category)
    = position_buttons
