%h1 Product Catalogue

%h2 Newest Products
%ul(rel='newest-products')
  - @newest_products.each do |product|
    %li= link_to(product.name, path(product))

%p= link_to('All products', path(:products))

%h2 Categories
%ul(rel='product-categories')
  - @categories.each do |category|
    %li= link_to(category.name, path(category))

%h2 Ranges
%ul
  - @ranges.each do |range|
    %li= link_to(range.name, path(range))

%h2 Current Promotions
%ul
  - @promotions.each do |promotion|
    %li
      %h3= promotion.name
      = simple_format(promotion.description)

