- breadcrumb('Manufacturers', :manufacturers)
- breadcrumb(@manufacturer.name, @manufacturer)

= record_name(@manufacturer.name, 'building')

= content(:class => 'inset') do
  %p TODO

= footer do
  = edit_button(@manufacturer)
  = delete_button(@manufacturer)

