%table(cellpadding=0 cellspacing=0)
  %thead
    %tr
      %th Status
      %th Name
      %th Total
      %th.meta Updated At

  %tbody
    - @orders.each do |order|
      %tr(class="alert #{order.expiring?}")
        %td
          %span.indicator= order.status
        %td
          = link_to(order.name, path(order), :class => 'title')
          - if order.expiring?
            %span.expiry-warning Expiring Soon!
          %span.reference.numeric= order.reference
          %span.summary= order.items_summary
        %td
          %span.numeric= order.formatted_total
        %td.meta
          %span.time= order.updated_at
          by #{order.updater_name}
