- breadcrumb('Orders')

- sort_nav(:orders, 'Updated')
- sort_nav(:orders, 'Status', 'status')
- sort_nav(:orders, 'Name', 'name')

= content do
  %ul#summary
    %li
      %span.key To bill
      %span.value.indicator.neutral= @counts[:billing]
    %li
      %span.key To pack
      %span.value.indicator.neutral= @counts[:packing]
    %li
      %span.key To ship
      %span.value.indicator.neutral= @counts[:shipping]
    - if @counts[:expiring] > 0
      %li.expiring
        %span.key Expiring soon
        %span.value.indicator.warning= @counts[:expiring]

  = render :partial => 'table'

= footer do
  = paginate(@orders, :theme => 'admin')
