- sub_header('Recent Updates')

- sort_nav(:orders, 'Updated')
- sort_nav(:orders, 'Status', 'status')
- sort_nav(:orders, 'Name', 'name')

= content do
  %ul#summary
    %li
      %span.value.indicator.neutral= @counts[:billing]
      %span.key to Bill
    %li
      %span.value.indicator.neutral= @counts[:packing]
      %span.key to Pack
    %li
      %span.value.indicator.neutral= @counts[:shipping]
      %span.key to Ship

    %li.expiring
      %span.value.indicator.warning 1
      %span.key Expiring Soon

  = render :partial => 'table'

= footer do
  = paginate(@orders, :theme => 'admin')
