- sub_header('Order', @order.name)

%ul#summary
  %li
    %span.key Reference #
    %span.value.indicator.reference= @order.reference
  %li
    %span.key Status
    %span.value.indicator.neutral= @order.status
  %li
    %span.key Total items
    %span.value.indicator.neutral= @order.sku_total_quantity
  %li
    %span.key Total
    %span.value.indicator.neutral= @order.formatted_total

= content do
  %div.billing
    %h3 Billing Details

    %p
      %span.type.mastercard Mastercard
      %span.number XXXXXX-XXXXX-34236
      %span.name Luke M Sutton
      %span.expiry Expiry: 13/2013

  %div.address
    %h3 Billing Address

    %p
      %strong= @order.name
      %br/
      = @order.billing_street
      %br/
      = @order.billing_city
      %br/
      #{@order.billing_state} #{@order.billing_postcode}

  %div.address
    %h3 Shipping Address

    %p
      %strong= @order.name
      %br/
      = @order.shipping_street
      %br/
      = @order.shipping_city
      %br/
      #{@order.shipping_state} #{@order.shipping_postcode}

  %h3.items.inset Order Items
  %table.items.inset
    %thead
      %tr
        %th Product/SKU
        %th Quantity
        %th Price
        %th Total
        %th Discount

    %tbody
      - @order.items.summary.each do |item|
        %tr
          %td
            = link_to(item.sku_name, path(:product, :id => item.product_id), :class => 'title')
          %td
            %span.numeric= item.quantity
          %td
            %span.numeric= item.formatted_price
          %td
            %span.numeric= item.formatted_total
          %td
            - if item.discounted?
              %span.numeric.discount #{item.formatted_discount} discount
            - else
              &nbsp;

    %tfoot
      %tr
        %th(colspan=3)
          Product Total
        %td
          %span.numeric= @order.formatted_product_total
        %td
          - if @order.discounted_total?
            %span.numeric.discount #{@order.formatted_product_discount} discount
          - else
            &nbsp;

      %tr
        %th(colspan=3)
          Shipping
        %td
          - if @order.free_shipping?
            FREE
          - else
            %span.numeric= @order.formatted_shipping_total
        %td
          &nbsp;

      %tr
        %th(colspan=3)
          Total
        %td
          %span.numeric= @order.formatted_total
        %td
          &nbsp;

  %h3.logs.inset Logs
  %table.logs.inset
    %thead
      %tr
        %th.boolean Succeeded?
        %th Action
        %th.notes Notes
        %th On

    %tbody
      - @order.logs.summary.each do |log|
        %tr
          %td.boolean
            %span(class="boolean #{log.succeeded?}")
              %span= friendly_bool(log.succeeded?)
          %td
            %span.title= log.action.humanize
          %td
            - if log.notes?
              = simple_format(log.notes)
            - else
              &nbsp;
          %td
            %span.time= log.created_at
            by #{log.updater_name}

= footer do
  - if @order.run?(:bill)
    = link_to('Bill', path(:bill, :order_process, :id => @order), :class => 'button')

  - if @order.run?(:pack)
    = form_for(@order, :url => path(:pack, :order_process, :id => @order)) do
      %button Pack

  - if @order.run?(:ship)
    = form_for(@order, :url => path(:ship, :order_process, :id => @order)) do
      %button Ship

  - if @order.editable?
    = edit_button(@order)

  - if @order.run?(:bill)
    = link_to('Edit Payment', path(:payment, @order), :class => 'button edit')

  - if @order.run?(:cancel)
    = link_to('Cancel', path(:cancel, :order_process, :id => @order), :class => 'button cancel')

