%h3 Order Processing

.dashboard-order-processing{class:  @processing_required ? 'with-processing-required' : ''}
  - if @processing_required
    %p.notice There #{@counts[:processable] == 1 ? 'is' : 'are'} #{pluralize(@counts[:processable], 'order')} waiting to be processed.
    %ul#dashboard-order-counts
      - if @counts[:billing] > 0
        %li
          %a{:href => billing_admin_order_processes_url}
            %span.value= @counts[:billing]
            %span.key ready to bill
      - if @counts[:packing] > 0
        %li
          %a{:href => packing_admin_order_processes_url}
            %span.value= @counts[:packing]
            %span.key ready to pack
      - if @counts[:shipping] > 0
        %li
          %a{:href => shipping_admin_order_processes_url}
            %span.value= @counts[:shipping]
            %span.key ready to ship
  - else
    %p.notice.complete No orders are waiting to be processed.

%h3 Recent Orders

%table.series-graph
  %thead
    %tr
      %th Day
      %th Order Value
      %th Order Volume
      %th SKU Volume

  %tbody
    - @series.each do |entry|
      %tr
        %th= entry['day']
        %td= entry['value']
        %td= entry['volume']
        %td= entry['sku_volume']