%h3 Order Overview

%table.series-graph
  %thead
    %tr
      %th Day
      %th Order Value
      %th Order Volume
      %th SKU Volume

  %tbody
    - @series.each do |entry|
      %tr
        %th= entry['day']
        %td= entry['value']
        %td= entry['volume']
        %td= entry['sku_volume']

%ul#dashboard-order-counts
  %li
    %a{:href => billing_admin_order_processes_url}
      %span.value.indicator.neutral= @counts[:billing]
      %span.key to Bill
  %li
    %a{:href => packing_admin_order_processes_url}
      %span.value.indicator.neutral= @counts[:packing]
      %span.key to Pack
  %li
    %a{:href => shipping_admin_order_processes_url}
      %span.value.indicator.neutral= @counts[:shipping]
      %span.key to Ship
