= f.fieldset("Buy at least N products from a category", condition_opts(condition)) do
  = f.hidden_field(:type)

  .condition-toggle
    = f.input(:active, :as => :boolean, :first_inline => true)

  .condition-contents
    %p.summary
      Orders which have at least a certain number of products from the category you choose.

    = f.input(:product_category_id, :collection => @categories, :label => 'Category', :inline => true, :as => :tree_select)
    = f.input(:quantity, :class => 'tiny', :inline => true)
    
    %div.help

      %div.extra.islay-toggle
        %p This condition will only qualify once - if you set a quantity of 2, and a customer buys 4, they will have the promotion's effects applied once, not twice.

        %p This condition isn't compatible with effects like 'Get Extra Free', since they only work with a specific SKU from the conditions.
