= resource_form(@promotion) do |f|
  = record_name(@promotion.name, 'bullhorn', :when_blank => 'New Promotion')

  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name)
      = f.input(:active, :first_inline => true)
      - unless @promotion.locked?
        = f.input(:start_at, :as => :date_picker, :inline => true)
      = f.input(:end_at, :as => :date_picker, :inline => true)

    - if @promotion.locked?
      %div.islay-notice-locked
        %p 
          This promotion now has qualifying orders against it. The conditions
          and effects can no longer be edited.
        %p
          This is so that reporting for a promotion is accurate. If you want a
          promotion with different condtions or effects, you should deactivate
          this promotion and create a new one.

    - else
      = f.fieldset('Customers who', :class => 'promotion-conditions') do
        = f.fields_for(:conditions) do |c|
          = promotion_condition(c)

      = f.fieldset('Will receive', :class => 'promotion-effects') do
        = f.fields_for(:effects) do |e|
          = promotion_effect(e)

  = footer do
    = save_button
    = cancel_button(@promotion)
