= resource_form(@promotion) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name)
      = f.input(:start_at, :col => 'first-inline')
      = f.input(:end_at, :col => 'inline')

    = f.fieldset('Conditions') do
      = f.fields_for(:conditions) do |c|
        = c.hidden_field(:type)
        = c.input(:active, :as => 'boolean', :label => c.object.desc)
        - c.metadata do |attrs|
          - attrs.each do |name, opts|
            = c.metadata_input(name, opts)

    = f.fieldset('Effect') do
      %p Effect

  = footer do
    %button Save
