= resource_form(@promotion) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name)
      = f.input(:active)
      = f.input(:start_at, :as => :date_picker)
      = f.input(:end_at, :as => :date_picker)

    = f.fieldset do
      = f.input(:description, :as => 'text')

    = f.fieldset('Conditions') do
      = f.fields_for(:conditions) do |c|
        = c.fieldset(c.object.desc) do
          = c.hidden_field(:type)
          = c.input(:active, :as => :boolean)
          - c.metadata do |attrs|
            - attrs.each do |name, opts|
              = c.metadata_input(name, opts)

    = f.fieldset('Effect') do
      = f.fields_for(:effects) do |e|
        = e.fieldset(e.object.desc) do
          = e.hidden_field(:type)
          = e.input(:active, :as => :boolean)
          - e.metadata do |attrs|
            - attrs.each do |name, opts|
              = e.metadata_input(name, opts)

  = footer do
    = save_button
    = cancel_button(@promotion)
