= resource_form(@promotion) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name, :col => 'first-inline')
      = f.input(:active, :col => 'inline')
      = f.input(:start_at, :col => 'first-inline')
      = f.input(:end_at, :col => 'inline')

    = f.fieldset do
      = f.input(:description, :as => 'text')

    = f.fieldset('Conditions', :class => 'conditions') do
      = f.fields_for(:conditions) do |c|
        = c.fieldset(c.object.desc) do
          = c.hidden_field(:type)
          = c.input(:active, :as => :boolean)
          = render(:partial => c.object.type.underscore, :locals => {:c => c})

    = f.fieldset('Effect', :class => 'effects') do
      = f.fields_for(:effects) do |e|
        = e.fieldset(e.object.desc) do
          = e.hidden_field(:type)
          = e.input(:active, :as => :boolean)
          = render(:partial => e.object.type.underscore, :locals => {:e => e})

  = footer do
    = save_button

