- breadcrumb('Promotions')

= record_name('Promotions', 'star')

- filter_nav(:promotions, 'Current')
- filter_nav(:promotions, 'Finished', 'finished')
- filter_nav(:promotions, 'All', 'all')

- sort_nav(:promotions, 'Updated')
- sort_nav(:promotions, 'Orders', 'orders_count')
- sort_nav(:promotions, 'Revenue', 'revenue')

= content do
  %table.fixed-header{:cellpadding => 0, :cellspacing => 0}
    %thead
      %tr
        %th Active
        %th Name
        %th Orders
        %th Revenue
        %th Start
        %th End
        %th Updated At

    %tbody
      - @promotions.each do |promotion|
        %tr
          %td.boolean
            %span(class="boolean #{promotion.active?}")
              %span= friendly_bool(promotion.active?)
          %td
            = link_to(promotion.name, path(promotion), :class => 'title')
          %td
            %span.indicator= promotion.orders_count
          %td
            %span.indicator= promotion.revenue
          %td
            %span.time= promotion.start_at
          %td
            %span.time= promotion.end_at
          %td
            %span.time= promotion.updated_at
            by #{promotion.updater_name}

= footer do
  = new_button('Promotion', :promotion)
  = paginate(@promotions, :theme => 'admin')
