- breadcrumb('Promotions', :promotions)
- breadcrumb(@promotion.name)

- if @promotion.running?
  - status('Status', 'Running', :mode => :ok)
- else
  - status('Status', @promotion.status.capitalize, :mode => :ok)

- status('Orders', @promotion.orders_count, :mode => :ok)
- status('Revenue', @promotion.revenue, :mode => :ok)

= record_name(@promotion.name, 'bullhorn')

= content(:class => 'inset') do
  %ul
    %li
      %span.key Starts at
      %span.value.time= @promotion.start_at
    %li
      %span.key Ends at
      %span.value.time= @promotion.end_at

  %p= promotion_summary(@promotion)

  %h3 Orders

  %table
    %thead
      %tr
        %th Status
        %th Name
        %th Total
        %th Created At

    %tbody
      - if @promotion.orders.empty?
        %tr
          %td{:colspan => 4, :class => 'empty'} No orders yet
      - else
        - @promotion.orders.items_summary.each do |order|
          %tr
            %td
              %span.indicator= order.status
            %td
              = link_to(order.name, path(order), :class => 'title')
              %span.reference.numeric= order.reference
              %span.summary= order.items_summary
            %td
              %span.numeric= order.formatted_total
            %td
              %span.time= order.created_at

= footer do
  = edit_button(@promotion)
  = delete_button(@promotion)
